# Ignore Vagrant Files
/.vagrant

# Ignore bundler config
/.bundle

# Ignore sqlite databases
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all log files and tmp files

*.log
*.swp
/tmp
/public/uploads
/public/assets
Gemfile.lock
